# Unity generated folders
unity/**/[Ll]ibrary/
unity/**/[Tt]emp/
unity/**/[Oo]bj/
unity/**/[Bb]uild/
unity/**/[Bb]uilds/
unity/**/[Ll]ogs/
unity/**/[Uu]ser[Ss]ettings/

# Unity generated project files
unity/**/*.csproj
unity/**/*.sln
unity/**/.vs/
unity/**/.vscode/

# Local logs
*.log
